name: deploy-stks

on:
  workflow_dispatch:
  push:
    branches:
    - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT }}
  REGION: europe-central2-a
  GCP_CLUSTER: dev-expert

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Cloud SDK
      uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        project_id: ${{ env.PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
      
    - name: Authorize Docker push
      run: gcloud auth configure-docker

    - name: Build and Push Container Client
      run: |-
        cd client && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/client .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/client
        
    - name: Build and Push Container Chatbot
      run: |-
        cd chatbot-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/chatbot .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/chatbot
    
    - name: Build and Push Container Account 
      run: |-
        cd account-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/account .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/account
    - name: Build and Push Container Communication 
      run: |-
        cd communication-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/communication .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/communication
    - name: Build and Push Container Matching 
      run: |-
        cd matching-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/matching .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/matching
    - name: Build and Push Container Notification 
      run: |-
        cd notification-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/notification .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/notification
    - name: Build and Push Payment 
      run: |-
        cd payment-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/payment .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/payment
    - name: Build and Push Ranking 
      run: |-
        cd ranking-service && docker build -t us.gcr.io/${{ env.PROJECT_ID }}/ranking .
        docker push us.gcr.io/${{ env.PROJECT_ID }}/ranking
        
    # Deploy sample image to the GCP cluster
    - name: Deploy
      run: |-
        gcloud container clusters get-credentials ${{ env.GCP_CLUSTER }} --region ${{ env.REGION }}
        kubectl apply -f ./infra/k8s
        kubectl rollout restart deployment client-depl
        kubectl rollout restart deployment chatbot-depl
        kubectl rollout restart deployment account-depl
        kubectl rollout restart deployment communication-depl
        kubectl rollout restart deployment matching-depl
        kubectl rollout restart deployment notification-depl
        kubectl rollout restart deployment ranking-depl
        kubectl get services -o wide
